$primary: #af00ff;
$primary-dark: #8300bf;

$secondary-light: #3aabd1;
$secondary-main: #ffb000;

$mm-white: #f6f6f6;
$black: rgba(0, 0, 0, 0.5);
$purple-tint: #5157ab;
$grey-tint: rgba(81, 89, 166, 0.48);
$light-grey: #979797;
$bright-green: #27ae60;
