.PlaylistCard-root {
  height: 390px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: 300px;

  a {
    text-decoration: none;
  }

  .PlaylistCard-img-container {
    width: 100%;
    img {
      padding: 0.1rem 2rem;
      width: inherit;
      height: 190px;
      border-radius: 5px;
    }
  }

  .PlaylistCard-content {
    padding: 15px 25px;
    height: calc(100% - 194px);
    display: flex;
    justify-content: space-between;
  }

  .PlaylistCard-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 23px;
  }

  .PlaylistCard-event-description {
    color: #979797;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
    display: flex;
  }
}
