// _auth.scss
@import 'mm-shared/src/theme/main';

.Login-container {
  height: 100vh;
  background: url('../assets/club.png') no-repeat center center;
  background-size: cover;

  .Login-logo {
    width: 290px;
  }
  .Login-block {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0.4em;
    overflow-y: scroll;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Login-section {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      flex-direction: column;
    }
    .Login-buttons-space {
      margin-top: 2em;
    }

    .Login-divider {
      width: 100%;
      height: 1px;
      background-color: #9b9b9b;
    }

    .Login-content {
      margin: 1em 2em;
      min-width: 210px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .Login-content-text {
        text-align: left;
        font-weight: 500;
        align-items: center;
        display: flex;
        padding: 0.1em 0;
        color: black;
        margin-top: 5px;

        .material-icons {
          color: $secondary-light;
        }

        img {
          width: auto;
          margin-right: 10px;
        }
      }
    }
  }
}
