@import 'mm-shared/src/theme/main';

.AddTracks-root {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  h6 {
    color: $dark-grey;
  }

  .AddTracks-search-loading {
    margin-bottom: 5em;
  }
}
.AddTracks-tab {
  padding: 0.5em 1.5em;
}

.AddTracks-playlist-count {
  .MuiBadge-badge {
    right: -5%;
    @include media('>sm') {
      right: -20%;
    }
  }
}

.AddTracks-action {
  text-align: center;

  .AddTracks-action-button {
    widows: 80%;
  }
}

.AddTracks-dialog-title {
  background-color: $primary;
  color: $mm-white;
  text-align: center;
}

.AddTracks-dialog {
  width: 100%;
}
