@import 'theme/main';

.AddTracks-root {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  h6 {
    color: $dark-grey;
  }

  .AddTracks-search-loading {
    margin-bottom: 5em;
  }
}

.AddTracks-playlist-count {
  .MuiBadge-badge {
    right: -3%;
    @include media('>sm') {
      right: -20%;
    }
  }
}
