@import 'mm-shared/src/theme/main';

.EmailPreview-root {
  height: 410px;
  margin: 0 auto;
  width: 100%;

  .EventPreview-img-helper {
    display: inline-block;

    vertical-align: middle;
  }

  .EventPreview-img {
    vertical-align: middle;
    object-fit: cover;
    max-width: 220px;
    max-height: 400px;
    width: auto;
    height: auto;
  }

  .EmailPreview-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .EmailPreview-logo {
      img {
        width: 100px;
      }
    }

    .EmailPreview-link {
      text-decoration: underline;
      font-size: 14px;
    }

    .EmailPreview-event-name {
      font-size: 26px;
    }

    .EmailPreview-date-wrapper {
      border-radius: 4px;
      max-width: 196px;
      width: 100%;
      overflow: hidden;

      .EmailPreview-date-top {
        background: $secondary-light;
        color: $mm-white;
        font-size: 14px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .EmailPreview-date-bot {
        background: $mm-white;
        color: $black;
        font-size: 14px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .EmailPreview-text {
      color: $mm-white;
      font-size: 14px;
      max-width: 300px;
      word-wrap: break-word;
    }
  }
}
