.SaveEvent-root {
  .SaveEvent-form {
    padding: 2em;

    .SaveEvent-form-content {
      padding-bottom: 1em;
    }

    .SaveEvent-form-actions {
      margin-top: 2em;
      button {
        margin: 0.5rem;
      }
    }
  }
}
