@import 'theme/main';

.SeedPlaylist-root {
  height: 100%;
  width: 100%;

  h6 {
    color: $dark-grey;
  }

  .SeedPlaylist-loading-area {
    height: 255px;
  }

  .SeedPlaylist-clear {
    margin: 0px;
    top: 77px;
    right: 20px;
    bottom: auto;
    left: auto;
    position: fixed;
  }

  .SeedPlaylist-image {
    height: 4em;
    width: 4em;
  }

  .SeedPlaylist-item-text {
    padding-left: 2em;
  }
}
