.Summary-root {
  .Event-image {
    div.filepicker {
      background: url('../../assets/partycover.jpg') no-repeat center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px dashed #c7c7c7;
      height: 200px;
      padding: 0;
    }

    .dropzone .dz-preview {
      margin: 0;
    }

    .dropzone .dz-preview .dz-image {
      border-radius: 4px;
      width: auto;
      height: 200px;
      position: relative;

      img {
        width: 100%;
        max-height: 200px;
        height: 100%;
      }
    }

    .dz-details {
      text-align: center;
      margin-top: -57px;
      position: relative;
      background: rgba(255, 255, 255, 0.5);
    }

    .dz-remove {
      display: block;
      background: rgba(255, 255, 255, 0.5);
      position: relative;
      text-align: center;
    }

    .dz-success-mark,
    .dz-error-mark {
      display: none;
    }

    .dropzone .dz-preview.dz-image-preview {
      background: transparent;
      width: 100%;
      height: 100%;
    }

    .dropzone .dz-message {
      cursor: pointer;
      background: rgba(111, 203, 214, 0.9);
      padding: 10px 16px;
      border-radius: 4px;
      text-transform: uppercase;
      position: absolute;
    }
  }
}
