@import 'mm-shared/src/theme/main';

.TrackItem-root {
  .TrackItem-content {
    padding-left: 1em;
    padding-right: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .TrackItem-track-image {
    border-radius: 4px;
    max-width: 4.5em;
    max-height: 4.5em;
  }
}

.TrackItem-accept-track {
  .MuiFab-primary {
    background-color: $nice-green;
    opacity: 0.9;
  }
}
