@import '../theme/main';

.Finder-root {
  height: 100%;
  width: 100%;
  margin: 0 auto;

  h6 {
    color: $dark-grey;
  }

  .Finder-search-loading {
    margin-bottom: 5em;
  }
}

.Finder-playlist-count {
  .MuiBadge-badge {
    right: -5%;
    @include media('>sm') {
      right: -20%;
    }
  }
}

.Finder-action {
  text-align: center;

  .Finder-action-button {
    widows: 80%;
  }
}

.Finder-dialog-title {
  background-color: $primary;
  color: $mm-white;
  text-align: center;
}

.Finder-dialog {
  width: 100%;
}

.Finder-no-tracks {
  backdrop-filter: blur(5px);
  margin: 0 auto;
  margin-top: 2em;
  height: 6em;
  padding-top: 1.5em;
  font-size: 2em;
  box-shadow: 0 7px 13px -6px $primary, 0 2px 11px 0px $base-shadow,
    0 4px 5px -2px $primary-dark;
}
