@import 'mm-shared/src/theme/main';

.SuggestionListItem-root {
  .SuggestionListItem-content {
    padding-left: 1em;
    padding-right: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .SuggestionListItem-voting .badge {
    right: -15px;
  }

  .SuggestionListItem-track-image {
    border-radius: 4px;
    max-width: 4.5em;
    max-height: 4.5em;
  }
}
.SuggestionListItem-actions {
  .MuiFab-primary {
    background-color: $danger-red;
    opacity: 0.9;
  }

  .EventGuests-avatar {
    margin: 10;
  }
}
