.MyGuests-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 80px;

  .guest {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
