@import '../../theme/main';

.SideMenu {
  max-height: 100%;
}

.SideMenu-paper {
  top: 0 !important;
  left: 0 !important;
  border-radius: 0;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 320px;
  background-color: $main;

  ul {
    padding: 0;
  }

  a {
    text-decoration: none !important;
  }

  .SideMenu-user {
    background-color: $secondary-light;
    height: 180px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15px;

    .profile-image {
      width: 80px;
      height: 80px;
      margin-left: 24px;
    }

    .playlist-content-title {
      flex: none;

      span {
        color: white;
        font-size: 17px;
        font-weight: 500;
      }

      p {
        color: white;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .SideMenu-item {
    color: #fff;
    margin-top: 5px;

    .material-icons {
      margin-right: 15px;
    }
  }

  .SideMenu-item.active:after {
    content: '';
    left: 0;
    position: absolute;
    height: 30px;
    width: 7px;
    background-color: $secondary-light;
  }
}
