@import '../../theme/main';

.top-appBar {
  background-color: $main !important;
  box-shadow: none !important;

  .top-appBar-title {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
  }

  .home {
    margin-right: 2.5em;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .new-party {
    margin-right: 0.1em;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .new-party-lft {
    margin-right: 2.2em;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
