@import 'theme/main';

.TrackItem-root {
  border-bottom: 1px solid $light-grey;

  .accept-track {
    background: $bright-green;
    color: $mm-white;
  }

  .track-image {
    border-radius: 4px;
    max-width: 4.5em;
    max-height: 4.5em;
  }
}
