@import '../theme/main';

.TrackListItem-highlight {
  background-color: rgba(58, 158, 209, 0.3);
}
.TrackListItem-root {
  .TrackListItem-content {
    padding-left: 1em;
    padding-right: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .TrackListItem-secondary-items {
      display: flex;
      min-height: 1.2em;
      padding-bottom: 0.2em;
    }

    .explicit-icon {
      margin-bottom: -0.3em;
      margin-right: 0.3em;
    }

    .TrackListItem-votes {
      margin-bottom: -0.3em;
      margin-right: 0.3em;

      .MuiFab-colorInherit {
        background-color: $secondary-light;
      }

      .MuiSvgIcon-colorPrimary {
        color: $secondary-light;
      }
    }
  }
}

.TrackListItem-track-image {
  position: relative;
  width: 64px;
  height: 64px;
}

.TrackListItem-actions {
  display: flex;

  .MuiIconButton-colorInherit {
    background-color: $secondary-light;
  }

  .MuiSvgIcon-colorPrimary {
    color: $secondary-light;
  }

  .MuiBadge-badge {
    right: +18px;
    top: +18px;
    font-weight: 800;
  }
}

.TrackListItem-nested {
  padding-left: 6em;
}

.TrackListItem-actions-nested {
  .MuiIconButton-colorPrimary {
    background-color: $nice-green;
    color: white;
    opacity: 0.9;
  }
  .MuiIconButton-colorSecondary {
    background-color: $danger-red;
    color: white;
    opacity: 0.9;
  }
}

.TrackListItem-nested-track-icon {
  margin-right: 0.4em;
}

.TrackListItem-host-actions {
  width: 100%;

  .MuiIconButton-root {
    margin-left: 0.8em;
    margin-right: 0.4em;
  }
  .MuiIconButton-colorPrimary {
    background-color: $nice-green;
    color: white;
    opacity: 0.9;
  }
  .MuiIconButton-colorSecondary {
    background-color: $danger-red;
    color: white;
    opacity: 0.9;
  }
}
