@import '../theme/main';

.TrackListItem-highlight {
  background-color: rgba(58, 158, 209, 0.3);
}
.TrackListItem-root {
  .TrackListItem-content {
    padding-left: 1em;
    padding-right: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .TrackListItem-secondary-items {
      display: flex;
    }

    .explicit-icon {
      margin-bottom: -0.3em;
      margin-right: 0.3em;
    }

    .TrackListItem-votes {
      margin-bottom: -0.3em;
      margin-right: 0.3em;

      .MuiFab-colorInherit {
        background-color: $secondary-light;
      }

      .MuiSvgIcon-colorPrimary {
        color: $secondary-light;
      }

      .MuiBadge-badge {
        right: +10px;
        top: +10px;
        font-size: 0.5em;
        font-weight: 800;
      }
    }
  }

  .TrackListItem-track-image {
    position: relative;
    width: 4.5em;
    height: 4.5em;

    .content-overlay {
      background: rgba(0, 0, 0, 0.3);
      color: rgba(248, 240, 240, 0.5);
      position: absolute;
      height: 99%;
      width: 100%;
      left: 0;
      top: 0;
    }
  }
}
.TrackListItem-actions {
  display: flex;

  .MuiIconButton-colorInherit {
    background-color: $secondary-light;
  }

  .MuiSvgIcon-colorPrimary {
    color: $secondary-light;
  }

  .MuiBadge-badge {
    right: +18px;
    top: +18px;
    font-weight: 800;
  }
}

.TrackListItem-nested {
  padding-left: 6em;

  .TrackListItem-host-actions {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    .MuiIconButton-root {
      margin-left: 2em;
      margin-right: 2.18em;
    }
    .MuiIconButton-colorPrimary {
      background-color: $nice-green;
      color: white;
      opacity: 0.9;
    }
    .MuiIconButton-colorSecondary {
      background-color: $danger-red;
      color: white;
      opacity: 0.9;
    }
  }
}

.TrackListItem-host-actions {
  width: 100%;

  .MuiIconButton-root {
    margin-left: 2em;
    margin-right: 0.8em;
  }
  .MuiIconButton-colorPrimary {
    background-color: $nice-green;
    color: white;
    opacity: 0.9;
  }
  .MuiIconButton-colorSecondary {
    background-color: $danger-red;
    color: white;
    opacity: 0.9;
  }
}
