@import '../theme/main';

.TrackListItem-root {
  .TrackListItem-content {
    padding-left: 1em;
    padding-right: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .TrackListItem-voting .badge {
    right: -15px;
  }

  .TrackListItem-track-image {
    position: relative;
    border-radius: 4px;
    width: 4.5em;
    height: 4.5em;

    .content-overlay {
      background: rgba(0, 0, 0, 0.3);
      color: rgba(248, 240, 240, 0.5);
      position: absolute;
      height: 99%;
      width: 100%;
      left: 0;
      top: 0;
    }
  }
}
.TrackListItem-actions {
  display: flex;
  .MuiFab-secondary {
    background-color: $danger-red;
    opacity: 0.9;
  }

  .MuiFab-primary {
    background-color: $nice-green;
    opacity: 0.9;
  }
}
