@import '../theme/main';

.TrackToolbar-root {
  height: 2em;
  margin-top: 0.2em;
  padding-top: 0.3em;

  .MuiFab-colorInherit {
    background-color: $secondary-light;
  }

  .MuiSvgIcon-colorPrimary {
    color: $secondary-light;
  }

  .TrackToolbar-vote-icon {
    padding-left: 1.5em;
  }

  .TrackToolbar-vote-label {
    padding-left: 0.5em;
  }
}
