@import 'mm-shared/src/theme/main';

$margin-leave: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
$margin-enter: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
$width-leave: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
$width-enter: width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

.DesktopLayout-root {
  width: 100%;
  max-width: 100%;

  .DesktopLayout-app-bar {
    background-color: $primary;
    box-shadow: none;
    transition: $margin-leave, $width-leave;

    .DesktopLayout-app-bar-menu-button {
      color: black;
    }
  }

  .DesktopLayout-app-bar-shifted {
    margin-left: $nav-menu-width;
    width: calc(100% - #{$nav-menu-width});
    transition: $margin-enter, $width-enter;
  }

  .DesktopLayout-nav-drawer-paper {
    width: $nav-menu-width;
    background-color: $primary;
  }

  .DesktopLayout-nav {
    width: $nav-menu-width;
    flex-shrink: 0;

    .DesktopLayout-nav-menu-header {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 $spacing;
      @include toolbar;
    }

    .DesktopLayout-nav-logo {
      height: 10rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding-top: ($spacing * 2) px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: $nav-menu-width - 40px;
        height: 4rem;
      }
    }
  }

  .DesktopLayout-content {
    flex-grow: 1;
    margin-top: 2rem;
    padding: 2rem;
    transition: $margin-leave;
    margin-left: 0;

    .DesktopLayout-toolbar {
      @include toolbar;
    }
  }

  .DesktopLayout-content-shifted {
    transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    margin-left: $nav-menu-width;
  }
}
