@import 'theme/main';

$small-screen: 1024px;

.MainAppBar-root {
  margin-left: $nav-menu-width;
  background-color: $mm-white;

  @media (min-width: $small-screen) {
    width: calc(100% - $nav-menu-width);
  }

  .MainAppBar-title {
    cursor: pointer;
    font-size: 34px;
    line-height: 40px;
    padding: 16px;
    color: $black;
  }

  .MainAppBar-event-btn {
    text-transform: uppercase;
    padding: 8px 18px;
    .MainAppBar-event-icon {
      margin-right: 5px;
      height: 20px;
    }
  }
}
