@import '../../theme/colours';

.EventDetails-root {
  padding: 15px;


  .EventDetails-playlist-description {
    display: flex;
    justify-content: space-between;

    .EventDetails-playlist-info {

      .EventDetails-playlist-title {
        font-size: 14px;
        color: $main;
        font-weight: 500;
      }
    }

    .EventDetails-playlist-genre {
      float: right;
      width: 40%;

      .EventDetails-playlist-title {
        font-size: 14px;
        color: $main;
        font-weight: 500;
      }
    }
  }

}
