@import '../../theme/colours';

.Event-root {
  width: 100%;
  height: 100%;

  .Event-tabs {
    .Event-tab[aria-selected='true'] {
      color: $main;
    }

    .indicator-color {
      background-color: $secondary-light;
    }
  }
}
