@import '../../theme/colours';

.SelectedEvent-block {
  display: flex;
  padding: 11px 10px;
  background-color: #f3edf5;
  align-items: center;
  cursor: pointer;

  .SelectedEvent-image {
    width: 60px;

    img {
      width: 100%;
    }
  }

  .SelectedEvent-content {
    padding-left: 15px;
    width: 100%;

    .SelectedEvent-title {
      color: $main;
      font-weight: 500;
      font-size: 19px;
    }
  }
}
