.EventSummary-root {
  height: 100%;
  margin: -12px -8px;
  padding-left: 1.5rem;

  .left-side-content {
    border-right: 1px solid #979797;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
  }

  .playlist-wrapper {
    width: 100%;
  }
}
