.CatalogueCard-root {
  height: 390px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: 300px;

  a {
    text-decoration: none;
  }

  .CatalogueCard-img-container {
    width: 100%;
    img {
      padding: 0.1rem 2rem;
      width: inherit;
      height: 190px;
      border-radius: 5px;
    }
  }

  .CatalogueCard-content {
    padding: 15px 15px;
    height: calc(100% - 194px);
    display: flex;
    justify-content: space-between;
  }

  .CatalogueCard-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 23px;
  }

  .CatalogueCard-description {
    max-width: 100%;
    .CatalogueCard-description-item {
      font-size: 12px;
      line-height: 16px;
      display: flex;
      max-height: 2rem;
      img {
        margin-right: 1rem;
      }
    }
  }
}
