.EventGuests-inline {
  display: inline;
}

.EventGuests-avatar {
  margin: 10;
}
.EventGuests-orange-avatar {
  margin: 10;
  color: #fff;
  background-color: orange;
}

.EventGuests-purple-avatar {
  margin: 10;
  color: #fff;
  background-color: purple;
}

.EventGuests-purple-avatar {
  margin: 10;
  color: #fff;
  background-color: green;
}
