@import '../../theme/main';

.EventGuests-inline {
  display: inline;
}

.EventGuests-avatar {
  margin: 10;
}

.EventGuests-orange-avatar {
  margin: 10;
  color: #fff;
  background-color: $secondary-main;
}

.EventGuests-purple-avatar {
  margin: 10;
  color: #fff;
  background-color: $primary-dark;
}
