.EventSummaryPlaylist-root {
  padding: 15px 30px 30px 30px;
  height: 100%;

  .playlist-view {
    margin-bottom: 50px;
  }

  .spotify-link {
    color: #ffb000;
  }

  .playlist-image {
    width: 8em;
    height: 8em;
    img {
      margin: auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .recently-requested-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .suggestion-row {
    display: flex;
    margin-bottom: 15px;
    img {
      height: 40px;
      width: 40px;
      border-radius: 8px;
      margin-right: 10px;
    }
  }
}
