@import 'mm-shared/src/theme/main';

body {
  background: $mm-white !important;
  font-family: $main-font-family;
}

a {
  text-decoration: none !important;
}

.text-decoration-none {
  text-decoration: none;
}
