.EvenRejectSuggestions-root {
  .accept {
    background: #27ae60;
    color: white;
  }

  .track-band {
    font-weight: 800;
  }

  .list-item {
    border-bottom: 1px solid #979797;
    display: flex;
    justify-content: space-between;
  }

  .track-image {
    border-radius: 4px;
    max-width: 4.5em;
    max-height: 4.5em;
  }
}
