@import 'mm-shared/src/theme/main';

body {
  background: $mm-white !important;
  font-family: $main-font-family;
  height: 100%;
}

.MuiTab-root {
  border: 1px solid black;
  border-color: #e7e7e7;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: $mm-white;
  background-color: $primary;
}

a {
  text-decoration: none !important;
}
