.EventSuggestions-root {
  width: 100%;
  text-align: right;
  padding: 10px;

  .left-icon {
    margin-right: 0.2em;
  }

  .icon-small {
    font-size: 20px;
  }

  .reject {
    background: #eb5757;
    color: white;
  }

  .accept {
    background: #27ae60;
    color: white;
  }

  .accepted-tracks {
    border: 2px solid #dadada;
    border-radius: 7px;
  }

  [data-react-beautiful-dnd-drag-handle='0']:last-child div {
    border-bottom: none !important;
  }

  .avatar {
    margin-right: 8em;
    right: 1.3em;
    margin-left: 0.81em;
  }

  .avatar-small {
    margin-right: 8em;
    font-size: 2em;
  }

  .list-item {
    border-bottom: 1px solid #979797;

    .list-item-text-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;
    }

    .list-item-track-info {
      display: flex;
      width: 190px;
      flex-direction: column;

      .track-artist {
        padding: 0;
        font-weight: 800;
      }

      .track-name {
        padding: 0;
      }

      .track-duration {
        width: 100px;
      }

      .track-image {
        border-radius: 4px;
        max-width: 4.5em;
        max-height: 4.5em;
      }
    }

    .list-item-content {
      max-width: 700px;
      display: flex;
      align-items: center;
    }
  }
}
