.EventPlaylistView-root {
  padding: 15px 30px 30px 30px;
  height: 100%;

  .tabs-wrapper {
    margin: 25px !important;
    padding: 0 !important;
    background: white;
  }

  .suggestions {
    right: -20px !important;
  }
}
