@import '../../theme/main';

.EventHeader-container {
  color: white;
  position: relative;
  width: 100%;
  height: 205px;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }

  .EventHeader-background {
    height: 100%;
    margin: auto;
  }

  .EventHeader-top-menu {
    top: 0;
    color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 70px 15px 15px;
    height: 45px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    .EventHeader-back-arrow {
      color: #fff;
      font-size: 3em;
    }
    .EventHeader-edit {
      color: #fff;
      align-self: flex-end;
    }
    @media (min-width: 1025px) {
      padding-top: 80px;
    }
  }

  .EventHeader-actions {
    position: absolute;
    top: 50px;
    text-align: center;

    .EventHeader-heading {
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      text-overflow: ellipsis;
    }

    .EventHeader-details {
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      height: 120px;
      padding: 0.1em;
    }

    .EventHeader-guests {
    }

    .EventHeader-settings {
      background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      height: 120px;
      padding-left: 0.3em;
      padding-right: 0.3em;

      ul {
        padding-inline-start: 2em;
        text-align: start;
        font-size: 0.8em;
      }
    }
  }

  .EventHeader-response-menu {
    position: absolute;
    top: 160px;
    width: 100%;
  }
}
