@import '../../theme/main';

$text-backdrop: rgba(32, 143, 143, 0.7);

.EventHeader-container {
  color: white;
  position: relative;
  width: 100%;
  height: 205px;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }

  .EventHeader-background {
    height: 100%;
    margin: auto;
  }

  .EventHeader-actions {
    position: absolute;
    top: 50px;
    text-align: center;

    .EventHeader-heading {
      background: $text-backdrop;
      border-radius: 5px;
      text-overflow: ellipsis;
    }

    .EventHeader-details {
      background: $text-backdrop;
      border-radius: 5px;
      height: 120px;
      max-height: 120px;
      padding: 0.1em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .EventHeader-guests {
    }

    .EventHeader-settings {
      background: $text-backdrop;
      border-radius: 5px;
      height: 120px;
      padding-left: 0.3em;
      padding-right: 0.3em;

      ul {
        padding-inline-start: 2em;
        text-align: start;
        font-size: 0.8em;
        font-weight: 600;
      }
    }
  }

  .EventHeader-response-menu {
    position: absolute;
    top: 160px;
    width: 100%;
  }
}
