.PlaylistListView-item-wrapper {
  a {
    text-decoration: none !important;
  }

  .PlaylistListView-disabled-link {
    pointer-events: none;
  }

  .PlaylistListView-item {
    display: flex;
  }
}
