@import '../../theme/colours.scss';

.PlaylistPlayer-container {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  position: relative;

  .PlaylistPlayer-header-top-menu {
    background: $main;
    height: 48px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;

    span {
      cursor: pointer;
    }
  }

  .PlaylistPlayer-track-img {
    background: #e4c6f3 url('../../assets/background-marshmallow-rect.png')
      no-repeat center center;
    height: 275px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 85;
    position: relative;

    .PlaylistPlayer-track-img-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .PlaylistPlayer-track-avatar {
      width: 200px;
      height: 200px;
      z-index: 85;
    }

    .PlaylistPlayer-track-name {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 5px;

      span,
      p {
        color: #525aa6;
        font-weight: 500;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .PlaylistPlayer-control-container {
    background-color: $secondary-light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    .PlaylistPlayer-control-container-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 45%;
      // margin-right: 10px;
    }
    .PlaylistPlayer-control-container-flex:first-child {
      width: 42%;
    }

    .PlaylistPlayer-control-white {
      span {
        color: white;
      }

      .material-icons {
        font-size: 30px;
      }
    }

    .PlaylistPlayer-control-white.active {
      span {
        color: $main !important;
      }
    }

    .PlaylistPlayer-control-white {
      span.disabled {
        color: rgba(0, 0, 0, 0.26) !important;

        span {
          color: rgba(0, 0, 0, 0.26) !important;
        }
      }
    }

    .PlaylistPlayer-control-play-button {
      background-color: $secondary-main;
      width: 42px !important;
      height: 42px !important;
    }
  }
  .PlaylistPlayer-progress {
    transition: 0.2s linear;
    cursor: pointer;
    & div {
      transition: transform 0.1s linear;
    }
    &:hover {
      height: 8px;
    }
  }
  .PlaylistPlayer-button-favorite {
    margin-right: 30px;
  }
}
